---
import MobileProject from "../components/MobileProject.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";

const projects = [
{
    id: 1,
    name: "cre-work",
    description: "Task management app with drag and drop feature",
    imgUrl: "/assets/cre-work.png",
    github_link: "https://github.com/rishy-2021/cre-work",
    live_link: "https://cre-work-rnox.vercel.app/dashboard",
  },
  {
    id:2,
    name:"Pdf-insights-extracter",
    description:"Web app in which you can get insights from your submitted pdf.",
    imgUrl:"/assets/pdf-demo.png",
    github_link: "https://github.com/rishy-2021/pdf-insight-extracter",
    live_link: "https://pdf-insight-extracter.vercel.app/",
  },
  {
    id:3,
    name:"Snapwiz AIGen",
    description:"Simple static website with smooth animation and elegant designs",
    imgUrl:"/assets/snapwiz.png",
    github_link: "https://github.com/rishy-2021/snapwiz",
    live_link: "https://snapwiz.vercel.app",
  },
  {
    id: 4,
    name: "foruMe",
    description: "web platform for community enagement, built using Next.js, Express.js & Typescript.",
    imgUrl: "/assets/foruMe-thumbnail.png",
    github_link: "https://github.com/rishy-2021/Forume",
    live_link: "https://forume.netlify.app/",
  },
  {
    id: 5,
    name: "ritesh-purwar.me",
    description: "my personal portfolio website built using Astro",
    imgUrl: "/assets/ritesh-thumbnail.png",
    github_link: "https://github.com/rishy-2021/rishy-2021.github.io",
    live_link: "https://ritesh-purwar.me/",
  },
  {
    id: 3,
    name: "quiz-master",
    description: "a feature-rich web application for conducting MCQ-based tests and allowing students to take tests, view results and teachers to input MCQ questions.",
    imgUrl: "/assets/quiz-thumb.png",
    github_link: "https://github.com/rishy-2021/ONLINE_EXAM_FRONTEND",
    live_link: "https://quiz-master-web.netlify.app/",
  }
];

const mobile_projects = [];
---

<Layout
  title="Projects | Ritesh Purwar"
  description="Welcome to my page - Sid : )"
>
  <section class="mt-8 sm:mt-16">
    <h1
      class="text-zinc-900 dark:text-zinc-100 text-3xl md:text-5xl font-bold tracking-tight"
    >
      Always exploring and building.
    </h1>
    <h2 class="my-6 text-zinc-700 dark:text-zinc-300 text-base">
      Over the years I have worked on many things, but here are the ones that I
      am most <br /> proud of. I am a firm believer in open source, so please feel
      free to contribute.
    </h2>
  </section>
  <h2>
    <span
      class="text-zinc-900 dark:text-zinc-100 text-2xl md:text-3xl font-bold tracking-tight"
    >
      Web Apps
    </span>
  </h2>
  <section class="my-8 grid grid-cols-1 sm:grid-cols-2 gap-8">
    {
      projects.map((project, index) => (
        <Project project={project} data-index={index} />
      ))
    }
  </section>
  <!-- <h2>
    <span
      class="text-zinc-900 dark:text-zinc-100 text-2xl md:text-3xl font-bold tracking-tight"
    >
      Mobile Apps
    </span>
  </h2> -->
  <section class="my-8 grid grid-cols-1 sm:grid-cols-3 gap-8">
    <!-- {mobile_projects.map((project) => <MobileProject project={project} />)} -->
  </section>
</Layout>
